@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
  margin: 0;
  font-family: 'Inter';
}

/* Nav Styling*/
.nav{
    padding: 5px 30px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    height: 80px;
    width: 97vw;
}

.links{
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

.nav a:hover{
  cursor: pointer;
}

.a-link{
    margin: 0 50px;
}

/* Hero Styling*/
.hero{
  background-image: url('../images/hero.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  height: 100vh;
}

.hero-content {
  margin-left: 5em;
  display: flex;
  justify-content: center;
  color: white;
  height: 100vh;
  flex-direction: column;
  align-content: center;
}

.white-bg {
  background: rgba(255, 255, 255, 0.483);
  width: fit-content;
  padding: 10px 10px 20px 25px;
}

.hero-content div .hero-text {
  width: 40em;
}

.hero-content div .hero-text h1{
  font-size: 50px;
  font-weight: 400 !important;
}

.hero-content div .hero-text p{
  font-size: 20px;
  line-height: 30px;
}

.cta{
  margin-top: 40px;
}
.explore{
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  position: relative;
}

.explore::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 2px; 
  background:linear-gradient(45deg,red,blue); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.socials{
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.socials .facebook{
  background-image: url('../images/facebook.svg');
  width: 60px;
  height: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
}

.socials .instagram{
  background-image: url('../images/instagram.svg');
  width: 60px;
  height: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
}

.socials .linkedin{
  background-image: url('../images/linkedin-circled.svg');
  width: 60px;
  height: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
}


/* About Section Styling */

.about-section{
    background-color: black;
    display: flex;
    gap:20px;
    color: #fff;
}

.about-section .text{
  margin: 50px 60px;
  width: 40vw;
}

.about-section .text h1{
  font-size: 60px;
  text-transform: uppercase;
}

.about-section .text p{
  margin: 60px 0;
  width: 450px;
  line-height: 30px;
}

.about-section .stats{
  width: 30vw;
  margin: 50px 60px;
  padding: 30px;
  border: 1px solid rgba(123, 0, 255, 0.837);
}

.about-section .stats p{
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.about-section .stats p span{
  font-size: 200px;
}

.about .about-paragraphs{
  background-color: rgb(13, 12, 12);
  padding: 50px 60px;
  color: white;
  /* margin: 50px 60px; */
  display: flex;
  justify-content: center;
  gap: 100px;
}

.about .about-paragraphs .about-paragraph{
  width: 350px;
  line-height: 30px;
  font-weight: 300;
}

/* Services Section */

.services{
  display: flex;
  flex-wrap: wrap;
  gap: 40px 100px;
}

.service-block{
  width: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hammer{
  background-image: url('../images/hammer.png');
  background-size: 70px;
  width: 70px;
  height: 70px;
}

.toolbox{
  background-image: url('../images/toolbox.png');
  background-size: 70px;
  width: 70px;
  height: 70px;
}

.tape{
  background-image: url('../images/tape-measure.png');
  background-size: 70px;
  width: 70px;
  height: 70px;
}

.drill{
  background-image: url('../images/drill.png');
  background-size: 70px;
  width: 70px;
  height: 70px;
}

.saw{
  background-image: url('../images/saw-blade.png');
  background-size: 70px;
  width: 70px;
  height: 70px;
}