@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
  margin: 0;
}

/* Nav Styling*/
.nav{
    padding: 5px 30px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    height: 80px;
    width: 97vw;
}

.links{
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

.nav a:hover{
  cursor: pointer;
}

.a-link{
    margin: 0 50px;
}

/* Hero Styling*/
.hero{
  background-image: url('../images/hero.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  height: 100vh;
}

.hero-content {
  margin-left: 5em;
  display: flex;
  justify-content: center;
  color: white;
  height: 100vh;
  flex-direction: column;
  align-content: center;
}

.white-bg {
  background: rgba(255, 255, 255, 0.483);
  width: fit-content;
  padding: 10px 10px 20px 25px;
}

.hero-content div .hero-text {
  width: 40em;
}

.hero-content div .hero-text h1{
  font-size: 50px;
  font-weight: 400 !important;
}

.hero-content div .hero-text p{
  font-size: 20px;
}

.cta{
  margin-top: 40px;
}
.cta .explore{
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  position: relative;
}

.cta .explore::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 2px; 
  background:linear-gradient(45deg,red,blue); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.socials{
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.socials .facebook{
  background-image: url('../images/facebook.svg');
  width: 60px;
  height: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
}

.socials .instagram{
  background-image: url('../images/instagram.svg');
  width: 60px;
  height: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
}

.socials .linkedin{
  background-image: url('../images/linkedin-circled.svg');
  width: 60px;
  height: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
}